name: Development workflow

on:
  pull_request:
    branches:
      - develop
      - main
    types: [synchronize, opened, reopened, ready_for_review, labeled]

env: 
  DATABASE_URL: ${{ secrets.DEV_DATABASE_URL }}
  EMAIL_ACCOUNT: ${{ secrets.EMAIL_ACCOUNT }}
  EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}

jobs: 
  QualityGate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Yarn Install
        run: yarn

      - name: Yarn Audit
        run: yarn audit

      - name: Lint code
        run: yarn lint
       
      - name: Run instance of DB
        run: docker-compose up -d db
        env:
          EMAIL_ACCOUNT: ${{ secrets.EMAIL_ACCOUNT }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}      

      - name: Run migrations
        run: yarn prisma migrate deploy

      - name: Run tests
        run: yarn test

